body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .TC-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .clock {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10%;
    background-color: white;
  }
  
  .time {
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .hours {
    color: red;
  }
  
  .minutes {
    color: blue;
  }
  
  .seconds {
    color: green;
  }